{% extends "home.html" %}
{% block modal %}

    <!-- /.rating modal -->
    <div class="modal fade" id="rating{{ user.profile_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">What do you think of this user?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Please leave a rating from 1 to 5 and then click the rate button to leave
                    feedback!
                </div>

                <div class="rating">
                    {% for i in range( 5 ) %}
                        <a href='#' class="fa fa-star"></a>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}