{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="feed">
            <!-- Dropdown Card Example -->
            <div class="card shadow card-img mb-4" id="section1" style="background-image: url(../static/img/12493467_553433914814095_3292048595096192548_o256.jpg)">
                <!-- Card Header - Dropdown -->
                <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="col-12 h1 font-weight-bold text-white">Find and collaborate with other musicians</h4>
                </div>
                <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                        <p class="text-white col-12" style="font-size: x-large">Explore our database of musicians and
                            artists ready to collaborate with you. From DJs to guitarists, Reggae to RnB, use our filters to specify exactly what you are looking for</p>
                </div>
                <div class="align-items-center align-content-center" style="padding-left: 50%"><a href="#articles"><i class="arrow down"></i></a></div>
            </div>
             <div class="card shadow card-img mb-4" id="section2" style="background-image: url('../static/img/u2_concert-1920x12002345.jpg')">
                <!-- Card Header - Dropdown -->
                <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="col-12 h1 font-weight-bold text-white">Tired of making music alone?</h4>
                </div>
                 <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                        <p class="text-white col-12" style="font-size: x-large">There are plenty of bands using Musician's Network today! Here you'll be able to contact a huge range of bands to join or collaborate with.
                        You'll also find plenty of other lonely musicians who may want to form a band with you.</p>
                </div>
            </div>
             <div class="card shadow card-img mb-4" id="section3" style="background-image: url('../static/img/concert2.jpg')">
                <!-- Card Header - Dropdown -->
                <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="col-12 h1 font-weight-bold text-white">Find venues to perform at and kickstart your career</h4>
                </div>
                 <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                        <p class="text-white col-12" style="font-size: x-large">The best way to build your confidence is through experience. You'll find a huge variety of venues with different vibes and different capacities. Find venues
                        near you that are looking for someone to steal the show!  </p>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->
    </div>
{% endblock %}