{% extends "base.html" %}
{% block title %} Profile Editor {% endblock %}
{% block navbar_items %}
    {% include "nav_alerts.html" %}
{% endblock %}
{% block navbar_dropdown_title %}Account{% endblock %}
{% block nav_dropdown_options %}
    {% include "account_settings.html" %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profile Editor</h1>
        </div>
        {% include "flashed_msg.html" %}
        <div class="feed">
            <br>
            {# Display the form validation errors #}
            {% if form.errors %}
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in field_errors %}
                            {{ form[field_name].label }}: {{ error }}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if account_form.errors %}
                {% for field_name, field_errors in account_form.errors|dictsort if field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in field_errors %}
                            {{ account_form[field_name].label }}: {{ error }}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.profile_image.label }}<br>{{ form.profile_image() }}<br><br>
                    {{ form.profile_name.label }}{{ form.profile_name(class_="form-control form-control-user") }}
                    {{ form.description.label }}{{ form.description(class_="form-control form-control-user", maxlength=1000) }}
                    {{ form.location.label }}{{ form.location(class_="form-control form-control-user") }}
                    <div class="form-genre">
                        {{ form.genre.label }}<br>{{ form.genre() }}
                    </div>

                    <hr class="sidebar-divider d-none d-md-block">

                    {% if (user_type == "musician") %}
                        {{ account_form.gender.label }}{{ account_form.gender(class_="form-control form-control-user") }}
                        {{ account_form.birthdate.label }}{{ account_form.birthdate(class_="form-control form-control-user") }}
                        {{ account_form.availability.label }}{{ account_form.availability(class_="form-control form-control-user") }}
                        <div>
                            <div class="embed-id">
                                {{ account_form.sc_id.label }}{{ account_form.sc_id(class_="form-control form-control-user") }}
                            </div>
                            <a href="{{ url_for('main.soundcloud_id') }}" target="_blank"
                               class="btn btn-info btn-circle display:inline-block;">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </div>
                    {% else %}
                        {{ account_form.venue_image.label }}<br>{{ account_form.venue_image() }}<br><br>
                        {{ account_form.capacity.label }}{{ account_form.capacity(class_="form-control form-control-user") }}
                        {{ account_form.venue_type.label }}{{ account_form.venue_type(class_="form-control form-control-user") }}
                        <div class="embed-id">
                            {{ account_form.youtube.label }}{{ account_form.youtube(class_="form-control form-control-user") }}
                        </div>
                        <a href="{{ url_for('main.youtube_id') }}" target="_blank"
                           class="btn btn-info btn-circle display:inline-block;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    {% endif %}
                </div>
                <br>
                {{ form.submit(class_="btn btn-primary") }}
            </form>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
{% endblock %}