{% extends "base.html" %}
{% block title %} Musician's Network {% endblock %}
{% block navbar_items %}
    {% include "nav_alerts.html" %}
{% endblock %}
{% block navbar_dropdown_title %}Account{% endblock %}
{% block nav_dropdown_options %}
    {% include "account_settings.html" %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profiles</h1>
        </div>

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link"
                                     href="{{ url_for('main.index',account='musicians') }}">Artists</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('main.index',account='venues') }}">Venues</a>
            </li>
        </ul>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="feed">
            {% for user in profiles %}
                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="profile-user-location">
                            <h6 class="m-0 font-weight-bold text-primary"><img class="img-profile rounded-circle"
                                                                               style="max-height: 6vh"
                                                                               src="../static/img/blank_user.png">
                                {{ user.username }}
                                <div class="location">
                                    <p>- {{ user.location }}</p>
                                </div>
                                {% if user.block|int == 1 %}
                                    <span class="badge badge-danger">Blocked</span>
                                {% endif %}
                                {% for admin in admins %}
                                    {% if admin.profile_id == user.profile_id %}
                                        <span class="badge badge-info">Admin</span>
                                    {% endif %}
                                {% endfor %}
                            </h6>

                        </div>
                        <div class="genre-group">
                            <div class="genre-title">
                                <p>Artist genres:</p>
                            </div>
                            {% for relation in relations %}
                                {% if relation.profile_id == user.profile_id %}
                                    {% for genre in genres %}
                                        {% if genre.genre_id == relation.genre_id %}
                                            <span class="badge badge-primary">
                                                {{ genre.genre_name }}
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div>
                            <div class="rating">
                                {% for i in range( 5 - user.rating|int) %}
                                    <span class="fa fa-star"></span>
                                {% endfor %}
                                {% for i in range(user.rating|int) %}
                                    <span class="fa fa-star checked"></span>
                                {% endfor %}
                            </div>
                            <div class="dropdown no-arrow" style="display:inline-block">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Options:</div>
                                    <a class="dropdown-item"
                                       href="{{ url_for('prof.profile', username=user.username) }}">Visit profile</a>
                                    {% if user.block|int == 0 %}
                                        <a class="dropdown-item"
                                           href="{{ url_for('main.block', username=user.username) }}">Block Account</a>
                                    {% else %}
                                        <a class="dropdown-item"
                                           href="{{ url_for('main.block', username=user.username) }}">Unblock
                                            Account</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                       data-target="#rating{{ user.profile_id }}">
                                        Rate user
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Card Body -->
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/{{ user.sc_id }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=flase&show_reposts=false&show_teaser=flase"></iframe>
                    <div class="description-container">
                        <div class="description-title">
                            <p>Artist description:</p>
                        </div>
                        <div class="description">
                            {{ user.profile_description }}
                        </div>


                    </div>
                </div>
                {% include "ratings.html" %}
            {% endfor %}
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
{% endblock %}
