{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block pages_collapse %}
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
        aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>About</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="#">For musicians</a>
            <a class="collapse-item" href="#">For bands</a>
            <a class="collapse-item" href="#">For venue operators</a>
            <div class="collapse-divider"></div>
        </div>
    </div>
</li>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">About</h1>
        </div>


        <div class="feed">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><img class="img-profile rounded-circle" style="max-height: 6vh" src="../static/img/blank_user.png">
About</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options:</div>
                            <a class="dropdown-item" href="#">Visit profile</a>
                            <a class="dropdown-item" href="#">Contact user</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Rate user</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <!-- Card Body -->
            <div class="card-body">
                This will be an introduction of what the website is for. No profiles are shown in this page.
                Users can initially Login or Signup from this page by clicking the page on the left.
                Profile icon and notification icon on top right will be removed later as it should not exist
                in landing page.
            </div>
            </div>

        </div>
        <!-- End of Main Content -->
    </div>
{% endblock %}