{% extends "base.html" %}
{% block title %} Musician's Network {% endblock %}
{% block navbar_items %}
    {% include "nav_alerts.html" %}
{% endblock %}
{% block navbar_dropdown_title %}Account{% endblock %}
{% block nav_dropdown_options %}
    {% include "account_settings.html" %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profiles</h1>
        </div>
        {% include "flashed_msg.html" %}
        <div class="feed">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                {% if user.profile_name is not none or user.profile_name != "" %}
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-secondary">
                            {{ user.profile_name }}
                        </h5>
                    </div>
                {% endif %}
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="profile-user-location">
                        <h6 class="m-0 font-weight-bold text-primary">
                            {% if user.profile_image is none or user.profile_image == "" %}
                                <img class="img-profile rounded-circle" style="max-height: 6vh" src="../static/img/blank_user.png">
                            {% else %}
                                <img class="img-profile rounded-circle" style="max-height: 6vh" src="{{ user.profile_image }}">
                            {% endif %}
                            {{ user.username }}
                            <div class="location">
                                <p>- {{ user.location }}</p>
                            </div>
                            {% if user.block|int == 1 %}
                                <span class="badge badge-danger">Blocked</span>
                            {% endif %}
                            {% if admin %}
                                <span class="badge badge-info">Admin</span>
                            {% endif %}
                        </h6>

                    </div>
                    <div class="genre-group">
                        <div class="genre-title">
                            <p>Artist Genre:</p>
                        </div>
                        {% for genre in genres %}
                            <span class="badge badge-primary">
                                {{ genre.genre_name }}
                            </span>
                        {% endfor %}
                    </div>

                    <div>
                        <div class="rating">
                            {% for i in range( 5 - user.rating|int) %}
                                <span class="fa fa-star"></span>
                            {% endfor %}
                            {% for i in range(user.rating|int) %}
                                <span class="fa fa-star checked"></span>
                            {% endfor %}
                        </div>
                        <div class="dropdown no-arrow" style="display:inline-block">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Options:</div>
                                <a class="dropdown-item" href="{{ url_for('prof.profile', username=user.username) }}">Visit
                                    profile</a>
                                {% if user.block|int == 0 %}
                                    <a class="dropdown-item" href="{{ url_for('main.block', username=user.username) }}">Block
                                        Account</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ url_for('main.block', username=user.username) }}">Unblock
                                        Account</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal"
                                   data-target="#rating{{ user.profile_id }}">
                                    Rate user
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card Body -->
                <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/{{ musician.sc_id }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=flase&show_reposts=false&show_teaser=flase"></iframe>
                <div class="description-container">
                    <div class="venue-container">
                                    <span>
                                        <div class="venue-title">Birthdate:</div>
                                        <div class="venue-information">
                                            <span class="badge badge-primary"
                                                  style="background-color: lightslategray;">{{ musician.birthdate }}</span>
                                        </div>
                                    </span>
                                    <span>
                                        <div class="venue-title">Gender:</div>
                                            <div class="venue-information">
                                                {% if musician.gender == 1 %}
                                                    <span class="badge badge-secondary">
                                                        Male
                                                    </span>
                                                {% else %}
                                                    <span class="badge badge-secondary">
                                                        Female
                                                    </span>
                                                {% endif %}
                                            </div>
                                    </span>
                                    <span>
                                        <div class="venue-title">Availability:</div>
                                            <div class="venue-information">
                                                {% if musician.availability == 1 %}
                                                    <span class="badge badge-success">
                                                        Available
                                                    </span>
                                                {% else %}
                                                    <span class="badge badge-secondary">
                                                        Unavailable
                                                    </span>
                                                {% endif %}
                                            </div>
                                    </span>
                    </div>
                    <div class="description-title">
                        <p>Artist description:</p>
                    </div>
                    <div class="description">
                        {{ user.profile_description }}
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
{% endblock %}
