{% block ratings %}
    <!-- /.rating modal -->
    <div class="modal fade" id="rating{{ user.profile_id }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">What do you think
                        of {{ user.username }}?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center;">Rate {{ user.username }} from 1 (left) to 5 (right).
                </div>

                <div class="rating" style="text-align: center;">
                    {% for i in range( 1 , 6 ) %}
                        <a href="{{ url_for('main.rate', username=user.username, rate_value=i) }}"
                           class="fa fa-star"></a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}