{% block content %}

    <!-- /.rating modal -->
    <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">What do you think of this user?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Please leave a rating from 1 to 5 and then click the rate button to leave
                    feedback!
                </div>
                <form method="post" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group" style ="padding: 10px;">
                        {{ form.rating.label }}{{ form.rating(class_="form-control form-control-user") }}
                    </div>
                </form>
                <div class="modal-footer">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.rating modal -->
{% endblock %}